<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-4 text-center text-primary">Welcome to Your App</h1>
            <hr class="my-2">
            <h4 class="text-success mt-5">Project : Blog Management System</h4>
            
            <p>
                This is a simple Node.js application with user and blog management.
                This web platform allows users to create, manage, and interact with their own blogs in a
                seamless and user-friendly environment.
                Users can <b>register</b> for a new account or <b>log in</b> to their existing one, providing them with
                access to a personal dashboard where they can write, edit, and delete their blogs.
            </p>
            <p>
                Key features of the system include:
            </p>
<ul>
            <li>

                <b>User Registration and Login:</b> New users can sign up with their email, username, and password, while
                existing users can log in to their accounts securely.
            </li>
            <li>   
                <b>Create and Manage Blogs:</b> Once logged in, users can easily write new blogs, including adding titles,
                content, and formatting as desired. They can also <b>edit</b> or <b>delete</b> any blog they've previously
                published.
            </li>
            <li>
               <b>Profile Management:</b> Users have the ability to update their profile information, including <b>editing</b>
                their <b>username</b> and <b>email address</b>.
            </li> 
            <li>
                <b>Account Detection:</b> Users can also choose to <b>delete</b> their <b>account</b> if they no longer wish to use the
                platform, removing all associated data.
                
            </li>
            </ul>
            <p>
            This platform offers an intuitive way for individuals to express their thoughts, share knowledge, and manage
            their online presence—all from a single, easy-to-use account interface. Whether you're a casual blogger or
            an aspiring content creator, this system provides the tools needed to effectively manage your blog content.
            </p>
            </p>
            <hr class="my-4">
            <p class="text-center"><a class="text-decoration-none" href="/auth/login">Login</a></p>
            <p class="text-center">
                Don't have an account?
                <a class="text-decoration-none" href="/auth/register">Sign up</a>

            </p>
            <!-- <a class="btn btn-primary btn-lg" href="/users" role="button">User Management</a> -->
            <!-- <a class="btn btn-primary btn-lg" href="/blogs" role="button">Blog Management</a> -->
        </div>
    </div>

</body>